.first-side{
    margin-top: 39px;
    margin-right: 58px;
   
}
.last-side{
    margin-right: 60px;
}
.lets-practice{
    line-height: 25px;
    color: #505056;
    font-weight: 390;
    margin-bottom: 0px;
    font-size: 17px;

}
.read-more{
    margin-top: 0px;
    color: #0e1133;
    font-size: 16px;
    font-weight: 450;
}

.arrow-icon{
    margin-top: 0px;
}

.footerapp-logo{
    height:70px;
}

.footer{
    align-items: center;
    margin: 20px;
    display: flex;
    margin-top: 0px;
    justify-content: center;
    
}

.text-icon{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.social-media-icon{
    display: flex;
}

.quick-links{
    color: #0e1133;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.about-us{
    color: #505056;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 6px;
}

.icon-text{
    display: flex;
}

.copy-rights{
    margin-left: 260px;
}

.copirights{
    color: #505056;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.5px;
    color: #000000; 
    width:65%;
}

.footer-area{
    padding-top: 45px;
    background: #eef1f6;
    padding-bottom: 54px;
    
}
.mid-side{
    margin-top: 0px;
    margin-right: 57px;
    
}
.icon{
    margin: 4px;
    background-color: #ffffff;
    text-align: center;
    padding-top: 10px;
    border-radius: 9px;
    background-size: cover;
    width:38px;
    height: 30px;

}